.div{
    position:absolute;
    width: 150px;
    height: 300px;
}
.div .shop_img{
    width: 100%;
    height: 50%;
}
.div .for h4, .div .for label{
    margin: 0%;
    text-decoration: unset;
}
a{
    color: black;
}
#Goth{
    font-family: "Gotham";
}
.X0{
    left: 10px;
}
.Y0{
    top: 10px;
}
.X1{left: 170px;}
.X2{left: 330px;}
.X3{left: 490px;}
.X4{left: 650px;}
.X5{left: 810px;}
.X6{left: 970px;}
.X7{left: 1130px;}
.X8{left: 1290px;}
.X9{left: 1450px;}
.Y1{top: 320px;}